@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
/* 폰트 패밀리 여기까지 */
body{
  margin: 0;
  padding: 0;
  border-style: none;
}
/* 메인 이미지 영역 */
#main_visual{
    height: 100vh;
    background-image: url("./img/main_bg_edit.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    /* 방식에는 repeat, no-repeat, repeat-x, repeat-y 가 있음*/
    background-position: 50% 50%; /* 50퍼센트는 그림을 가로 세로 기준 가운데에 놓겠다는 뜻임 */

    color: white;
    text-align: left;
    padding: 350px 0px 0px 70px;
}
#main_subtitle{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 5px;
    padding: 0 0 35px 0;
    letter-spacing: -1.5px;
}
p{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: rgba( 255, 255, 255, 0.8);
}
#visual_title{
    font-family: 'Marcellus', serif;
    font-size: 120px;
    margin: 0px;
    letter-spacing: 0px;
}
#main_visual>img{
    margin: 70px 0px 0px 0px; /* 상 우 하 좌 (위부터 시계방향) */
}

/* about 페이지 시놉시스 여기부터*/
#synopsis{
    height: 1400px;
    background-image: url("./img/synopsis_bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%; /* 50퍼센트 = 그림을 가로 세로 기준 가운데에 놓겠다는 뜻 */

    color: white;
    text-align: left;
    padding: 250px 0px 150px 70px;
}
#sub_t{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 0 5px;
    padding: 0 0 25px 0;
    color: #10E6CE;
    float: left;
}
#synopsis_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 0px;
    letter-spacing: -4px;
    line-height: 130%;
    margin-top: -15px;
}
#synopsis_text{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 165%;
    margin-top: 50px;
}
/* 시놉시스 여기까지 */

/* 트레일러 여기부터 */
#sn{
  padding-left: 300px;
  margin-bottom: 340px;
}
video{
  margin-left: 240px;
  margin-top: -45px;

}
/* 트레일러 - about 페이지 여기까지 */

/* 캐릭터 내비게이션 메뉴 여기부터*/
    #cha_nav{
      position: fixed;
      top: 140px;
      left: 0;
      right: 0;
      margin: 10px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      font-size: 20px;
      height: 20px;
      color: #666666;
    }
    #cha_nav ul li{
      display: inline;
      margin:0;
      padding: 0 30px 0 30px;
    }
    #cha_nav ul li a{
      text-decoration: none;
      color: white;
    }
    #cha_nav ul li a:link{
        color:#bdbdbd; text-decoration: none; font-weight: 400;}
    #cha_nav ul li a:visited{
        color:#bdbdbd; text-decoration: none; font-weight: 400;}
    #cha_nav ul li a:hover{
        color:#FFFFFF; font-weight: 500;}
    #cha_nav ul li a:active{
        color:#FFFFFF; font-weight: 500;}
    .selected{font-weight: 500; color: white;}
/* 캐릭터 내비게이션 메뉴 여기까지 */


/* 캐릭터 내용 */
    .character{
      margin: 0 0 0 0;
      padding: 140px 0 0 0;
      background-color: #00003e;
    }
    .cha_img{height: 200px;}
    .character_section{
        height: 700px;
        padding: 100px 0 0 0;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }
    .cha{
        width: 500px;
        float: left;
        padding: 20px 0 0 0;
        margin-left: 140px;
    }

    /* 좌 이미지 우 텍스트 */
    .cha_txt{
        float: left;
        width: 1020px;
        padding: 10px;
        margin-left: 30px;
        color: white;
        font-size: 16px;
    }
    .cha_txt h4{
        color: #a0a0a0;
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .cha_txt h5{
        font-family: 'Marcellus', serif;
        font-weight: 700;
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cha_txt h6{
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 30px;
    }
    #color_sad{
      color: #6fafff;
    }
    #color_joy{
      color: #fffb5c;
    }
    #color_anger{
      color: #ff422b;
    }
    #color_disgust{
      color: #78f05b;
    }
    #color_fear{
      color: #dcb0ff;
    }
    #color_bingbong{
      color: #ff88bf;
    }
    #color_riley{
      color: #ead16b;
    }
    #cha_name_kor{
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 22px;
      font-weight: 300;
      margin: 0;
      padding: 0px 0 10px 0;
      letter-spacing: -0.5px;
      color: white;
    }
    #says{
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 26px;
      font-weight: 300;
      margin: 0;
      padding: 20px 0 20px 0;
      letter-spacing: -0.5px;
    }
    .cha_gall_height{
      padding: 60px 0 20px 0;
    }
    #cha_text{
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 20px;
      font-weight: 300;
      margin: 0;
      padding: 10px 0 10px 0;
      letter-spacing: -0.5px;
      line-height: 160%;
    }
/* 캐릭터 여기까지 */

/* 사운드 트랙 여기부터*/
.ost_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 150px;
  height: 1150px;
}

.ost_content{
  width: 600px;
  align-items: left;
  display: flex;
  flex-direction: column;
}
.ost_right{
  margin-left: 100px;
}

.title{font-size: 25px; margin: 0 0 30px 10px;}
.sub_t{font-size: 18px; font-weight: 700; margin: 30px 0;}

.album_info{font-weight: 300; line-height: 150%;}
.album_info p{margin-right: 30px; float: left;}
.first_info {width:70px; }

.album_text{
    width: 580px;
    line-height: 130%;}

.ost_content table tbody tr{
    border-bottom: 1px solid #fff;
    line-height: 200%;
}
.ost_content table tbody tr th:nth-child(1){
    text-align: left;
    padding: 0 10px;
}
.ost_content table tbody tr th:nth-child(2){
    text-align: left;
}
.ost_content table tbody tr th:nth-child(3){
    text-align: right;
    padding-right: 10px;
}
.ost_content table tbody tr td:first-child{
    text-align: left;
    padding: 0 10px;
}
.ost_content table tbody tr td:last-child{
    text-align: right;
    padding-right: 10px;
}
/* 사운드 트랙 여기까지 */
